@using System.Globalization
@model IEnumerable<Betgo.Models.Event>

@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/polaris/polaris.css" rel="stylesheet">
</head>
<h2>Upcoming events</h2>
<div class="searchBar" id="searchBar">
    <form class="navbar-form navbar-left searchForm" method="get">
        <div class="form-group">
            <input type="search" name="searchTerm" class="form-control searchControl" placeholder="Search by event name">
        </div>
        <input type="submit" class="btn btn-default searchBtn" value="Search" />
    </form>

</div>



@Html.Partial("_EventsPartial")

@section scripts {
    @Scripts.Render("~/Scripts/IndexScripts.js")
    @Scripts.Render("~/Scripts/icheck.js")
}
